@use '../base/variables' as *;

.sidebar {
  background: $sidebarColor;
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  transition: $transition;
  transform: translateX(-100%);
  visibility: hidden;
}

.showSidebar {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}

.sidebarLinks {
  margin-top: 2rem;

  .sidebarActive {
    border-top: 2px solid $accent;
    border-bottom: 2px solid $accent;
    color: $accent;
  }

  a {
    opacity: 0;
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: $black;
    letter-spacing: $spacing;
    margin-bottom: 1rem;
    font-size: 2rem;
    transition: $transition;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;

    &:hover {
      border-top: 2px solid $accent;
      border-bottom: 2px solid $accent;
      color: $accent;
      background-color: $backgroundHover;
    }

    &:active {
      background-color: $backgroundActive;
    }

    &:focus {
      background-color: $backgroundFocus;
    }
  }
}

.disappear {
  display: none;
  li {
    display: none;
  }
}

/*
=============== 
Sidebar Animation
===============
*/

.sidebarLinks a {
  animation: slideRight 0.3s ease-in-out 0.3s forwards;
}
.sidebarLinks a:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebarLinks a:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebarLinks a:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebarLinks a:nth-of-type(4) {
  animation-delay: 1s;
}
.sidebarLinks a:nth-of-type(5) {
  animation-delay: 1.25s;
}
.sidebarLinks a:nth-of-type(6) {
  animation-delay: 1.5s;
}

@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.sidebarIcons li {
  opacity: 0;
  animation: slideUp 0.5s ease-in-out 0.3s forwards;
}
.sidebarIcons li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebarIcons li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebarIcons li:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebarIcons li:nth-of-type(4) {
  animation-delay: 1s;
}
.sidebarIcons li:nth-of-type(5) {
  animation-delay: 1.25s;
}

@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*** PORTRAIT MODE QUERIES ***/

@media screen and (max-height: 36rem) {
  .sidebarLinks {
    a {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: $nexus) and (min-height: 60rem) {
  .sidebarLinks {
    margin-top: 5rem;
    a {
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: $ipadPro) {
  .sidebarLinks {
    margin-top: 5rem;
    a {
      font-size: 4rem;
    }
  }
}

/*** LANDSCAPE MODE QUERIES ***/
@media screen and (min-width: 35.5rem) and (min-height: 20rem) and (orientation: landscape) {
  .sidebarLinks {
    margin-top: 1rem;
    a {
      margin-bottom: 0.5rem;
      font-size: 0.75rem;
    }
  }
}

// Surface Duo+ landscape mode
@media screen and (min-width: 45rem) and (min-height: 33.75rem) and (orientation: landscape) {
  .sidebarLinks {
    a {
      font-size: 1.5rem;
    }
  }
}

// ipad+
// @media screen and (min-width: 50rem) and (min-height: 33.75rem) and (orientation: landscape) {
@media screen and (min-width: 61rem) and (min-height: 33.75rem) and (orientation: landscape) {
  .sidebarLinks {
    a {
      font-size: 3rem;
    }
  }
}