@use '../base/variables' as *;

.affLinksContainer {
  margin-bottom: 1.25rem;
}

.affLinks__list {
  display: grid;
  grid-template-columns: 1fr 1fr;

  :first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.affLinks__listItem {
  padding: 0.5rem;
}

.affLinks__anchor {
  display: block;
  font-weight: $semiBoldFont;
  margin: 0 auto;
  width: fit-content;

  p {
    font-size: 0.8rem;
    margin-top: 0.25rem;
  }

  .affLinks__logo {
    border-radius: 20%;
    box-shadow: $darkShadow;
  }

  // Accessibility: focus-within selector lets keyboard users tab through logos
  &:hover,
  &:focus-within {
    .affLinks__logo {
      box-shadow: $blueShadow;
      transition: $transition;
      transform: scale(1.1, 1.1);
    }
    transition: $transition;
    color: $accent;
  }
}

@media screen and (min-width: $smallTablet) {
  .affLinks__list {
    display: flex;
    justify-content: center;
  }
  .affLinks__anchor {
    width: 9.5rem;
  }
}

@media screen and (min-width: $ipadPro) {
  .affLinks__listItem {
    width: 25%;
    padding: 0 2rem;
  }
  .affLinks__anchor {
    padding-top: 0.5rem;
    width: fit-content;
  }
}

@media screen and (min-width: $macBookAir) {
  .affLinksContainer {
    margin-bottom: 3rem;
  }
}
