@use '../base/variables' as *;

.affLinks {
  margin-bottom: 2rem;
}

.affLinks__list {
  display: grid;
  grid-template-columns: 1fr 1fr;

  :first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.affLinks__logo {
  transition: $transition;
  box-shadow: $darkShadow;
  border-radius: 20%;
  &:active,
  &:hover {
    box-shadow: $blueShadow;
    transform: scale(1.01, 1.01);
  }
}

.affLinks__listItem {
  padding: 0.5rem;
  a {
    display: block;
    font-weight: $semiBoldFont;
    margin: auto;
    width: fit-content;
  }

  // Accessibility: focus-within selector lets keyboard users tab through logos
  a:focus-within {
    .affLinks__logo {
      box-shadow: $blueShadow;
      transform: scale(1.01, 1.01);
    }
  }
}

.affLinks__textLink {
  color: $black;
  transition: $transition;
  font-size: 0.7rem;

  &:active,
  &:hover,
  &:focus {
    color: $accent;
  }
}

@media screen and (min-width: $smallTablet) {
  .affLinks__list {
    display: flex;
    justify-content: center;
  }

  .affLinks__listItem {
    a {
      width: 9.5rem;
    }
  }
}

@media screen and (min-width: $ipadPro) {
  .affLinks__listItem {
    width: 25%;
    padding: 0 2rem;
    a {
      padding-top: 0.5rem;
      width: fit-content;
    }
  }
}

@media screen and (min-width: $bigDesktop) {
  .affLinks__list {
    margin: 3rem 0;
  }
}
