@use '../base/variables' as *;

.socialLinks {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  li:first-of-type a {
    margin-left: 0;
  }
}

.socialLink {
  font-size: 2rem;
  transition: $transition;
  margin-left: 2rem;

  &:focus-within {
    svg {
      transition: $transition;
      transform: scale(1.5, 1.5);
    }
  }

  svg:hover,
  svg:active {
    transition: $transition;
    transform: scale(1.5, 1.5);
  }
}

/*** PORTRAIT MODE MEDIA QUERIES ***/

@media screen and (max-height: 36rem) {
  .socialLinks {
    margin-top: 0.5rem;

    li:first-of-type a {
      margin-left: 0;
    }
  }

  .socialLink {
    font-size: 2rem;
    transition: $transition;
    margin-left: 2rem;
  }
}

@media screen and (min-width: $nexus) {
  .socialLinks {
    margin-top: 3rem;
  }

  .socialLink {
    font-size: 3rem;
    margin-left: 3rem;
  }
}

@media screen and (min-width: $ipadPro) {
  .socialLink {
    font-size: 4rem;
  }
}

/*** LANDSCAPE MODE ***/

@media screen and (min-width: 35.5rem) and (min-height: 20rem) and (orientation: landscape) {
  .socialLinks {
    margin-top: 0;
  }

  .socialLink {
    font-size: 1rem;
    margin-left: 2rem;
  }
}

// Surface Duo+ landscape mode
@media screen and (min-width: 45rem) and (min-height: 33.75rem) and (orientation: landscape) {
  .socialLinks {
    margin-top: 1rem;
  }

  .socialLink {
    font-size: 2rem;
    margin-left: 3rem;
  }
}

// ipad+
@media screen and (min-width: 61rem) and (min-height: 33.75rem) and (orientation: landscape) {
  .socialLink {
    font-size: 3rem;
  }
}
