/*
=============== 
COLORS
===============
*/

$primaryColor: #fafafa;
$secondaryColor: #e8f1f5;
$backgroundColor: #ebeeee;
$section2BackgroundColor: #d2dce0;
$accent: rgba(0, 198, 247, 0.933);
$hover: #00a9d3ee;
$active: #00c6f7c7;
$buttonFontColor: #333333;
$backgroundHover: #2021240a;
$backgroundFocus: #2021241f;
$backgroundActive: #2021241a;
$hamburgerFocus: #5f63681f;
$footer: #2e2e2e;
$black: #000000;
$white: white;
$red: hsl(360, 67%, 44%);
$grey: #d9d9d9;
$darkGrey: #aca5a5;

/*
=============== 
FORMATTING
===============
*/

$spacing: 0.2rem;
$transition: all 0.2s linear;

$primaryFont: "Montserrat", sans-serif;
$secondaryFont: "Sacramento", cursive;
$boldFont: 700;
$semiBoldFont: 600;
$normalFont: 500;
$lightFont: 400;

$h1FontSize: 2rem;
$h2FontSize: 1.2rem;
$h3FontSize: 1.2rem;
$h4FontSize: 0.825rem;

$lightShadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$darkShadow: 0 5px 12px rgba(0, 0, 0, 0.3);
$blueShadow: 6px 6px 30px -6px rgba(0, 198, 247, 0.933);

// BREAKPOINT VARIABLES

$defaultSmallPhone: 22.5rem; // This is 360px. Only use if formatting is broken on anything smaller (e.g. iPhone 5/SE which is 320px and the smallest reasonable screen size)
$smallTablet: 33.75rem;
$ipad: 48rem;
$ipadPro: 64rem;
$bigDesktop: 70rem;

/*
=============== 
GLOBAL STYLES
===============
*/

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// MUST REDIFINE FOCUS TO SOMETHING FOR ACCESSIBILITY
*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  font-family: $primaryFont;
  font-weight: $lightFont;
  background: $backgroundColor;
  color: $black;
  line-height: 1.5;
  font-size: 1rem;
}

main {
  flex: 1 0 auto;
  margin-top: 5rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: $spacing;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 1rem;
  font-family: $primaryFont;
}

h1 {
  font-size: $h1FontSize;
  font-weight: $semiBoldFont;
}

h2 {
  font-size: $h2FontSize;
}

h3 {
  font-size: $h3FontSize;
}

h4 {
  font-size: $h4FontSize;
  font-weight: $lightFont;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}

address {
  font-style: normal;
}

.section {
  text-align: center;
  padding: 2rem;
  max-width: 69.5rem;
  margin: 0 auto;
}

@media screen and (min-width: $ipadPro) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  body {
    font-size: 1.25rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }

  .section {
    max-width: 85rem;
  }
}
