/*
=============== 
COLORS
===============
*/

$primaryColor: #fafafa;
$secondaryColor: #e8f1f5;
$backgroundColor: #d2dce0;
$accent: #00d7ff;
$footer: #2e2e2e;
// $tempAccent2: #5fdde5;
$black: #000000;
$white: white;
$red: hsl(360, 67%, 44%);
$grey: #d9d9d9;
$darkGrey: #aca5a5;

/*
=============== 
FORMATTING
===============
*/

$spacing: 0.2rem;
$transition: all 0.2s linear;
$primaryFont: "Yantramanav", sans-serif;
$secondaryFont: "Open Sans", sans-serif;
$BoldFont: 700;
$NormalFont: 500;
$LightFont: 400;

$radius: 0.25rem;
$lightShadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$darkShadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$maxWidth: 73.125rem;
$fixedWidth: 43.75rem;

/*
=============== 
GLOBAL STYLES
===============
*/

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// MUST REDIFINE FOCUS TO SOMETHING FOR ACCESSIBILITY
*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  font-family: $primaryFont;
  font-weight: $NormalFont;
  background: $backgroundColor;
  color: $black;
  line-height: 1.5;
  font-size: 0.875rem;
}

main {
  flex: 1 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: $spacing;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: $primaryFont;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.125rem;
  font-weight: $LightFont;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}

address {
  font-style: normal;
}

@media screen and (min-width: 50rem) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* 
Section Styles
===============
*/

.header {
  display: block;
}

.section {
  margin: 5rem auto;
  width: 90vw;
}

@media screen and (min-width: 47rem) {
  .section-center {
    width: 95vw;
  }
}
