@use '../../base/variables' as *;

.banner {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 1rem;
  background-color: $footer;
  font-weight: $semiBoldFont;
  color: $white;

  p {
    margin-bottom: 0;
  }
}