@use '../../base/variables' as *;

.about {
  background-color: $section2BackgroundColor;
  display: flex;
  flex-direction: column;
}

.affTitle {
  text-transform: none;
  margin: 2rem 0 1.5rem;
  font-size: 1rem;
  font-weight: $semiBoldFont;
}

@media screen and (min-width: $ipadPro) {
  .aboutTextContainer {
    p {
      max-width: 50rem;
      margin: auto;
    }
  }

  .affTitle {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 90rem) {
  .about {
    flex-direction: row;
  }
  
  .aboutTextContainer {
    width: 50vw;
    margin-top: 5rem;
  }

  .affTitle {
    margin-top: 3rem;
  }

  .image {
    width: 50vw;
  }
}
