@use '../../base/variables' as *;

.about {
  background-color: $section2BackgroundColor;
  display: flex;
  flex-direction: column;
}

.affTitle {
  text-transform: none;
  margin: 2rem 0;
}

@media screen and (min-width: $bigDesktop) {
  .about {
    flex-direction: row;
  }
  
  .aboutTextContainer {
    width: 50vw;
    margin-top: 5rem;
  }

  .affTitle {
    margin-top: 3rem;
  }

  .image {
    width: 50vw;
  }
}
