@use '../../base/variables' as *;

.title {
  text-transform: initial;
  margin-bottom: 2rem;
}

.testimonialsContainer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  align-items: flex-start;
  row-gap: 20px;
  max-width: 75.5rem;
}

@media screen and (min-width: $ipadPro) {
  .testimonialsContainer {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}
