@use '../../base/variables' as *;

.list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;

  .list__department {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      margin-bottom: 1.25rem;
    }
  }
}

.enrollButton {
  margin-top: 2rem;

  a {
    display: block;
    width: 16.5rem;
    max-width: 20rem;
    margin: auto;
  }
}

@media screen and (max-width: $defaultSmallPhone) {
  .list {
    .list__department {
      a {
        padding: 8px 20px;
      }
    }
  }

  .enrollButton {
    a {
      width: 14rem;
    }
  }
}

@media screen and (min-width: $ipad) {
  .welcomeTitleContainer {
    p {
      margin-bottom: 2rem;
    }
  }

  .list {
    justify-content: space-evenly;

    .list__department {
      a {
        margin-bottom: 2rem;
      }
    }
  }
}
