@use '../../base/variables' as *;

.welcomeTitleContainer {
  p {
    margin-bottom: 0;
  }
}

.courses {
  max-width: 28rem;
  margin: auto;
}

.courseList__danceList {
  display: grid;
  grid-template-columns: 1fr 1fr;

  :first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.courseList__musicList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.courseList__iconContainer {
  height: 98px;
  width: 98px;
  background-color: $navbarColor;
  border-radius: 50%;
  border: 2px solid #424242;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $darkShadow;
}

.courseList__icon {
  width: 65px;
  height: 90px;
  padding: 5px;
  color: white;
}

.courseList__container {
  .courseList__element {
    margin-bottom: 1.25rem;

    p {
      margin-top: 1rem;
      font-weight: $semiBoldFont;
    }
  }

  a {
    margin: 2rem 0;
  }

  // *************** SET SCROLLING TO ID ************
  .courseList__anchor {
    display: inline-block;
    margin: 0;

    &:hover,
    &:focus-within {
      .courseList__iconContainer {
        box-shadow: $blueShadow;
        transition: $transition;
        transform: scale(1.1, 1.1);
      }

      transition: $transition;
      color: $accent;
    }
  }

  :last-child {
    margin-bottom: 0;
  }
}

.enrollButton {
  a {
    display: block;
    max-width: 20rem;
    margin: 2rem auto 0;
  }
}

@media screen and (min-width: $ipad) {
  .courses {
    max-width: none;
    margin: 0;
  }

  .courseList__container {
    ul {
      display: flex;
      justify-content: center;
    }

    .courseList__element {
      width: 15%;
      margin-bottom: 0;
    }

    a {
      margin: 3rem 0;
    }
  }

  .enrollButton {
    a {
      margin: 3rem auto 0;
    }
  }
}
