@use '../base/variables' as *;

.aboutContainer {
  background-color: $backgroundColor;

  .block {
    display: flex;
    flex-direction: column;

    .block__text {
      max-width: 35rem;
    }
  }
  .block:nth-of-type(2) {
    background-color: $section2BackgroundColor;
  }
}

@media screen and (min-width: $smallTablet) {
  .aboutContainer {
    .block {
      .block__text {
        max-width: 40rem;
      }
    }
  }
}

@media screen and (min-width: $ipad) {
  .aboutContainer {
    .block {
      align-items: center;
      justify-content: center;

      .image {
        margin: 2rem auto 0;
        width: 80vw;
        border-radius: 5%;
        box-shadow: $darkShadow;
      }
    }
  }
}

@media screen and (min-width: $ipadPro) {
  .aboutContainer {
    .block {
      .block__text {
        max-width: 50rem;
      }
    }
  }
}

@media screen and (min-width: $macBookAir) {
  .aboutContainer {
    .block {
      flex-direction: row;
      .image {
        margin: 2rem;
        max-width: 50rem;
      }
    }

    .block:first-of-type {
      flex-direction: row-reverse;
    }
  }
}

@media screen and (min-width: $desktop) {
  .aboutContainer {
    .block {
      .image {
        margin: 2rem auto;
        max-height: 33.3rem;
      }
    }
  }
}

@media screen and (min-width: $wideScreen) {
  .aboutContainer {
    .block {
      .image {
        margin: 2rem 0;
      }

      .block__text {
        margin: 2rem 0;
      }
    }
  }
}
