@use '../base/variables' as *;

.aboutContainer {
  background-color: $section2BackgroundColor;
}

.block {
  display: flex;
  flex-direction: column;
}

.firstBlock {
  flex-direction: column-reverse;
}

@media screen and (min-width: $ipad) {
  .section {
    max-width: 45rem;
  }
}

@media screen and (min-width: 93.75rem) {
  .block {
    flex-direction: row;
    align-items: center;
  }

  .image {
    height: fit-content;
    box-shadow: $darkShadow;
  }

  .image1 {
    margin-right: 13rem;
    width: 37.5rem;
  }

  .image2 {
    width: 43.75rem;
    margin-left: 12rem;
  }

  .block__text {
    width: 40vw;
  }
}
