@use '../base/variables' as *;

.contactContainer {
  background-color: $section2BackgroundColor;
  display: flex;
  flex-direction: column;
}

.image {
  max-height: 60vh;
}

.contactLink {
  color: black;
  font-weight: $boldFont;
  transition: $transition;

  &:active,
  &:hover,
  &:focus {
    color: $accent;
    border-bottom: 2px solid $accent;
  }
}

.contactContainer {
  h2 {
    margin-top: 2rem;
  }
}

.text {
  p {
    margin: 2rem 0;
  }
}

@media screen and (min-width: $smallTablet) {
  .image {
    max-height: 70vh;
  }
}

@media screen and (min-width: $bigDesktop) {
  .contactContainer {
    flex-direction: row;
    align-items: center;
  }

  .image {
    height: fit-content;
    box-shadow: $darkShadow;
    margin-bottom: 2rem;
    max-height: 42.875rem;
    max-width: 55.5rem;
    margin-top: 2rem;
    margin-left: 2rem;
    width: 100%;
    border-radius: 5%;
  }

  .text {
    width: 45vw;
  }
}
