@use '../base/variables' as *;

.anchorPoint {
  position: relative;
  top: -5rem;
}

.contactContainer {
  display: flex;
  flex-direction: column;

  .image {
    max-width: 90.625rem;
  }

  .textContainer {
    .text {
      max-width: 50rem;

      .contactLink {
        color: black;
        font-weight: $boldFont;
        transition: $transition;

        &:active,
        &:hover,
        &:focus {
          color: $accent;
          border-bottom: 2px solid $accent;
        }
      }

      p {
        margin: 1.2rem 0;
      }
    }
  }
}

.addressHeader {
  margin-top: 0.5rem;
}

.formContainer {
  background-color: $section2BackgroundColor;
  padding: 2rem 0;
  text-align: center;
}

.socialLinks {
  display: flex;
  justify-content: center;

  .socialLink {
    margin: 0 1rem;
    font-size: 2rem;
    transition: $transition;

    &:focus-within {
      svg {
        transition: $transition;
        transform: scale(1.5, 1.5);
      }
    }

    svg:hover,
    svg:active {
      transition: $transition;
      transform: scale(1.5, 1.5);
    }
  }
}

@media screen and (min-width: $smallTablet) {
  .socialLinks {
    .socialLink {
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: $ipad) {
  .contactContainer {
    .image {
      margin: 2rem auto 0;
      width: 80vw;
      border-radius: 5%;
      box-shadow: $darkShadow;
    }
  }
}

@media screen and (min-width: $macBookAir) {
  .contactContainer {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .image {
      margin: 2rem;
      width: 45vw;
    }

    .textContainer {
      margin: 0;

      .text {
        width: 45vw;
      }
    }
  }
}
