@use '../base/variables' as *;
.anchorPoint {
  position: relative;
  top: -5rem;
}

.danceContainer {
  background-color: $backgroundColor;

  .block {
    display: flex;
    flex-direction: column;

    .image {
      max-height: 15rem;
    }

    .jazzImg {
      height: 15rem;
    }

    .block__text {
      max-width: 50rem;
    }
  }

  .block:nth-of-type(4) {
    background-color: $section2BackgroundColor;
  }
}

@media screen and (min-width: $smallTablet) {
  .danceContainer {
    .block {
      .image {
        max-height: 22.5rem;
      }
      .jazzImg {
        height: 22.5rem;
      }
    }
  }
}

@media screen and (min-width: $ipad) {
  .danceContainer {
    .block {
      align-items: center;
      justify-content: center;
      .image {
        margin: 2rem auto 0;
        width: 80vw;
        max-height: 25.5rem;
        border-radius: 5%;
        box-shadow: $darkShadow;
      }
      .jazzImg {
        height: 25.5rem;
      }
    }
  }
}

@media screen and (min-width: $ipadPro) {
  .danceContainer {
    .block {
      .image {
        max-height: 34rem;
      }
      .jazzImg {
        height: 34rem;
      }
    }
  }
}

@media screen and (min-width: $macBookAir) {
  .danceContainer {
    .block {
      flex-direction: row-reverse;

      .image {
        margin: 2rem;
        max-height: 23.3rem;
        max-width: 50rem;
      }
    }

    .block:nth-of-type(4) {
      flex-direction: row;
    }
  }
}

@media screen and (min-width: $desktop) {
  .danceContainer {
    .block {
      .image {
        margin: 2rem auto;
        max-height: 33.3rem;
      }
    }
  }
}

@media screen and (min-width: $wideScreen) {
  .danceContainer {
    .block {
      .image {
        margin: 2rem 0;
      }

      .block__text {
        margin: 2rem 0;
      }
    }
  }
}
