@use '../base/variables' as *;

.anchorPoint {
  position: relative;
  top: -5rem;
}

.danceContainer {
  video {
    min-width: 100%;
    max-width: 100%;
  }

  .vimeoBlockContainer {
    background-color: $section2BackgroundColor;
    padding-bottom: 2rem;
  }

  h1 {
    text-align: center;
    margin-bottom: 0;
    padding: 1rem 0;
  }

  .recitalTitle {
    text-align: center;
    padding-top: 1rem;
  }

  .block {
    display: flex;
    flex-direction: column;

    .image {
      max-height: 16rem;
    }

    .block__text {
      max-width: 43.5rem;
    }
  }

  .block:nth-of-type(3),
  .block:nth-of-type(7) {
    background-color: $section2BackgroundColor;
  }
}

@media screen and (max-width: $defaultSmallPhone) {
  .danceContainer {
    .block {
      .image {
        max-height: 12.7rem;
      }
    }
  }
}

// 455px - average phone
@media screen and (min-width: 28.44rem) {
  .danceContainer {
    .block {
      .image {
        max-height: 17rem;
      }
    }
  }
}

// 500px - bigger phone
@media screen and (min-width: 31.25rem) {
  .danceContainer {
    .block {
      .image {
        max-height: 23.5rem;
      }
      .jazzImg {
        height: 22.5rem;
      }
    }
  }
}

// 700 px - smallish tablet
@media screen and (min-width: 43.75rem) {
  .danceContainer {
    video {
      margin-top: 2rem;
      border-radius: 5%;
      min-width: inherit;
      max-width: 80vw;
      box-shadow: $darkShadow;
    }

    .block {
      align-items: center;
      justify-content: center;
      .image {
        margin: 2rem auto 0;
        width: 80vw;
        max-height: 25.5rem;
        border-radius: 5%;
        box-shadow: $darkShadow;
      }
      .jazzImg {
        height: 25.5rem;
      }
    }
  }
}

// 920 px - big tablet
@media screen and (min-width: 57.5rem) {
  .danceContainer {
    .block {
      align-items: center;
      justify-content: center;
      .image {
        margin: 2rem auto 0;
        width: 80vw;
        max-height: 25.5rem;
        border-radius: 5%;
        box-shadow: $darkShadow;
      }
      .jazzImg {
        height: 25.5rem;
      }
    }
  }
}

// 1000 px
@media screen and (min-width: 62.5rem) {
  .danceContainer {
    h1 {
      padding: 1.5rem 0;
    }
    .block {
      .image {
        max-height: 34rem;
      }
      .jazzImg {
        height: 34rem;
      }
    }
  }
}

// 1200 px
@media screen and (min-width: 75rem) {
  .danceContainer {
    .block {
      .image {
        max-height: 40rem;
      }
    }
  }
}

@media screen and (min-width: $macBookAir) {
  .danceContainer {
    .recitalTitle {
      padding-top: 2rem;
      margin-bottom: 0;
    }

    video {
      margin: 2rem;
      width: 40vw;
      max-width: 50rem;
    }

    .block {
      flex-direction: row-reverse;

      .image {
        margin: 2rem;
        max-height: 25rem;
        width: 39.4rem;
      }
    }

    .block:nth-of-type(3),
    .block:nth-of-type(7) {
      flex-direction: row;
    }
  }
}

@media screen and (min-width: $desktop) {
  .danceContainer {
    video {
      margin: 2rem auto;
    }
    .block {
      .image {
        margin: 2rem auto;
        max-height: 33.3rem;
        width: 50rem;
      }
    }
  }
}

@media screen and (min-width: $wideScreen) {
  .danceContainer {
    video {
      margin: 2rem 0;
    }
    .block {
      .image {
        margin: 2rem 0;
      }

      .block__text {
        margin: 2rem 0;
      }
    }
  }
}
