@use '../base/variables' as *;

// faculty.js

.facultyContainer {
  .title {
    margin: 2rem 0;
    text-align: center;
  }

  .headerImgContainer {
    box-shadow: $darkShadow;
    border-radius: 5%;
    max-width: 81rem;
  }

  h2 {
    font-weight: $semiBoldFont;
    margin-bottom: 2rem;
  }

  .musicInstructorTitle {
    margin-top: 2rem;
  }

  .listContainer {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li:last-child {
      margin-bottom: 0;
    }
  }
}

// dance/musicTeachers.js

.artistListItem {
  margin-bottom: 2.5rem;
  width: 21.56rem;
  max-width: 21.56rem;

  .artistImage {
    box-shadow: $darkShadow;
    width: 100%;
    height: 32.25rem;
    border-radius: 5%;
  }

  .artistInfo {
    text-align: center;

    .artistName {
      margin-top: 1rem;
      font-size: 0.85rem;
      font-weight: $boldFont;
      margin-bottom: 0;
    }

    .artistPosition {
      font-weight: $normalFont;
      font-size: 0.825rem;
      letter-spacing: 0.2rem;
    }

    .artistHistory {
      font-weight: $lightFont;
      font-size: 0.8rem;
      font-style: italic;
    }
  }
}

@media screen and (max-width: $defaultSmallPhone) {
  // faculty.js
  .facultyContainer {
    h1 {
      font-size: 1.2rem;
    }
  }

  // dance/musicTeachers.js
  .artistListItem {
    .artistImage {
      height: 24rem;
    }

    .artistInfo {
      .artistName {
        font-size: 0.64rem;
      }

      .artistPosition,
      .artistHistory {
        font-size: 0.64rem;
      }
    }
  }
}

@media screen and (min-width: $smallTablet) {
  // dance/musicTeachers.js
  .artistListItem {
    margin: 0 1% 1rem;
  }
}

@media screen and (min-width: $ipad) {
  // faculty.js
  .facultyContainer {
    .headerImgContainer {
      width: 80vw;
      margin: auto;
    }

    .headerImg {
      border-radius: 5%;
    }

    .listContainer {
      margin: auto;
    }
  }

  // dance/musicTeachers.js
  .artistListItem {
    width: 20rem;

    .artistImage {
      height: 30rem;
    }

    .artistInfo {
      .artistHistory {
        font-size: 0.75rem;
      }
    }
  }
}

@media screen and (min-width: $ipadPro) {
  // dance/musicTeachers.js
  .artistListItem {
    width: 21.56rem;

    .artistImage {
      height: 32rem;
    }

    .artistInfo {
      .artistName {
        font-size: 0.99rem;
      }

      .artistPosition {
        font-size: 0.9rem;
      }

      .artistHistory {
        font-size: 0.8rem;
      }
    }
  }
}

@media screen and (min-width: $macBookAir) {
  .artistListItem {
    margin: 0 2% 1rem;
  }
}
