@use '../base/variables' as *;

.facultyContainer {
  text-align: center;
  h1 {
    margin-top: 2.5rem;
  }

  h2 {
    font-weight: $semiBoldFont;
    margin-bottom: 2.5rem;
  }

  .artistImage {
    box-shadow: $darkShadow;
  }

  .listContainer {
    max-width: 92%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  .artistListItem {
    text-align: left;
    margin-bottom: 2.5rem;
    h2 {
      font-weight: $boldFont;
      margin-bottom: 1rem;
    }
    h3 {
      font-weight: $normalFont;
    }
    .artistHistory {
      font-weight: $lightFont;
    }

    h2,
    h3,
    .artistHistory {
      font-size: 1rem;
    }
  }

  .artistName {
    margin-top: 1rem;
  }
}

@media screen and (min-width: $ipadPro) {
  .listContainer {
    max-width: 72%;
  }

  .artistListItem {
    h2,
    h3,
    .artistHistory {
      font-size: 1.25rem;
    }
  }
}

@media screen and (min-width: $bigDesktop) {
  .facultyContainer {
    h1 {
      margin-top: 2rem;
    }
  }

  .artistListItem {
    flex-basis: 30.5%;
    margin-right: 4.25%;
    margin-bottom: 3.75rem;
    max-width: 25.5rem;
  }
}
