@import "../global/global";

.about {
  background-color: $section2BackgroundColor;
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (min-width: $ipadProDesktop) {
  .about {
    flex-direction: row;
  }

  .image {
    width: 50vw;
  }

  .section {
    width: 50vw;
    align-self: center;
  }

  .links {
    justify-content: center;
    margin-top: 3rem;

    :first-child {
      margin-right: 5rem;
    }
  }
}
