@import "../global/global";

.about {
  background-color: $section2BackgroundColor;
  display: flex;
  flex-direction: column;
}

.affTitle {
  text-transform: none;
}

.section {
  .logo {
    margin: 0 3px;
    transition: $transition;
    box-shadow: $darkShadow;
    &:active,
    &:hover {
      box-shadow: $blueShadow;
      transform: scale(1.01, 1.01);
    }
  }
}

.textLink {
  color: $black;
  transition: $transition;

  &:active,
  &:hover,
  &:focus {
    color: $accent;
    border-bottom: 2px solid $accent;
  }
}

.affLinks {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  li {
    display: flex;
    margin: 0.5rem 0;
  }

  p {
    display: inline;
    margin: auto;
    padding: 0 1.5rem;
  }
  
  // Accessibility: code block directly below lets keyboard users tab through logos
  a:focus-within {
    .logo {
      box-shadow: $blueShadow;
      transform: scale(1.01, 1.01);
    }
  }
}

@media screen and (min-width: 400px) {
  .affLinks {
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: $ipad) {
  .section {
    .logo {
      margin: 0 10px;
    }
  }

  .affLinks {
    ul {
      width: 70%;
      margin: auto;
    }
  }
}

@media screen and (min-width: $bigDesktop) {
  .about {
    flex-direction: row;
  }

  .image {
    width: 50vw;
  }

  .section {
    width: 50vw;
    align-self: center;
  }
}
