@import "../global/global";

.container {
  display: flex;
  flex-wrap: wrap;
}

.article {
  width: 50%;

  a:focus-within {
    .image {
      box-shadow: $blueShadow;
      transform: scale(1.01, 1.01);
    }
  }
}

.image {
  width: calc(100% - (10px * 2));
  margin: 10px;
  height: 10.625rem;
  transition: $transition;
  box-shadow: $darkShadow;

  &:active,
  &:hover {
    box-shadow: $blueShadow;
    transform: scale(1.01, 1.01);
  }
}

.hashtag {
  a {
    color: $footer;
    transition: $transition;

    &:hover,
    &:active,
    &:focus {
      color: $hover;
      border-bottom: 2px solid $hover;
    }
  }
}

@media screen and (min-width: $smallTablet) {
  .image {
    height: 15rem;
  }

  .caption {
    font-size: 1rem;
  }
}

@media screen and (min-width: $ipad) {
  .image {
    height: 20rem;
  }

  .caption {
    font-size: 1rem;
  }
}

@media screen and (min-width: $ipadProDesktop) {
  .image {
    height: 40rem;
  }

  .caption {
    font-size: 1rem;
  }
}
