@import "../global/global";

.section {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  p,
  ul {
    font-size: 0.875rem;
  }
}

.list {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: left;

  ul {
    list-style-type: initial;
    list-style-position: inside;
  }
}

.list__department {
  height: 13rem;
  position: relative;
  a {
    position: absolute;
    bottom: 0;
    margin: 0 10px;
    padding: 5px 15px;
  }
}

@media screen and (min-width: $defaultSmallPhone) {
  .section {
    h1 {
      font-size: $h1FontSize;
    }
    h2 {
      font-size: $h2FontSize;
    }
    p,
    ul {
      font-size: 1rem;
    }
  }

  .list__department {
    height: 15.1875rem;
    a {
      position: absolute;
      bottom: 0;
      margin: 0 10px;
      padding: 8px 25px;
    }
  }
}

@media screen and (min-width: $ipadPro) {
  .section {
    margin-bottom: 2rem;

    h1 {
      font-size: 2.2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    p,
    ul {
      font-size: 1.25rem;
    }
  }

  .list {
    justify-content: space-evenly;

    .list__department {
      a {
        bottom: -2rem;
      }
    }
  }
}

@media screen and (min-width: $bigDesktop) {
  .list {
    div:first-of-type {
      padding-left: 8rem;
    }
    div:last-of-type {
      padding-right: 8rem;
    }
  }
}
