@import "../global/global";

.section {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  p,
  ul {
    font-size: 0.875rem;
  }
}

.list {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: left;

  ul {
    list-style-type: initial;
    list-style-position: inside;
    margin-bottom: 2rem;
  }
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;

  :first-child {
    margin-right: 3rem;
  }
}

@media screen and (min-width: $defaultSmallPhone) {
  .section {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.2rem;
    }
    p,
    ul {
      font-size: 1rem;
    }
  }

  .links {
    font-size: 1rem;

    :first-child {
      margin-right: 4rem;
    }
  }
}

@media screen and (min-width: $smallTablet) {
  .links {
    :first-child {
      margin-right: 7rem;
    }
  }
}

@media screen and (min-width: $ipadProDesktop) {
  .section {
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    p,
    ul {
      font-size: 1.25rem;
    }
  }

  .list {
    justify-content: center;

    .dance {
      margin-left: 6rem;
    }

    .music {
      margin-right: 0rem;
    }
  }

  .links {
    font-size: 1.25rem;

    :first-child {
      margin-right: 9rem;
    }
  }
}
