@import "../global/global";

.errorHeading {
  text-transform: inherit;
}

@media screen and (min-width: 37.5rem) {
  .section {
    margin-top: 4rem;
  }
}

@media screen and (min-width: $ipad) {
  .section {
    margin-top: 7.5rem;
  }
}

@media screen and (min-width: $ipadPro) {
  .section {
    margin-top: 20rem;
  }
}

@media screen and (min-width: $bigDesktop) {
  .section {
    margin-top: 7rem;
  }
}