@import "../global/global";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $grey;
  background: $primaryColor;
  height: 5rem;
  z-index: 90;
}

.logoContainer {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (min-width: $desktopQuery) {
  .navbar {
    align-items: flex-start;
  }

  .logoContainer {
    left: 3rem;
  }

  .navLinksContainer {
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: 100%;
    flex: 1;
    text-align: right;
    transition: $transition;

    .navLinks {
      display: inline-flex;
      align-items: center;
    }

    a {
      text-transform: capitalize;
      color: $black;
      font-weight: $normalFont;
      letter-spacing: $spacing;
      transition: $transition;
      padding: 0 1.5rem;
      display: flex;
      height: 100%;
    }
  }
}

@media screen and (min-width: 70rem) {
  .navLinks {
    &:last-child {
      margin-right: 3rem;
    }
  }
}
