@import "../global/global";

.link {
  display: inline-block;
  background-color: $accent;
  font-weight: $semiBoldFont;
  transition: $transition;
  padding: 10px 30px;
  border-radius: 40px;
  text-transform: capitalize;
  box-shadow: $darkShadow;
  color: $buttonFontColor;
  position: relative;
  overflow: hidden;

  &:hover,
  &:focus {
    background-color: $hover;
    color: $white;
  }

  &:active {
    transform: translateY(2px);
  }
}

@media screen and (max-width: $defaultSmallPhone) {
  .link {
    padding: 8px 25px;
  }
}

@media screen and (min-width: $ipadProDesktop) {
  .firstLink {
    margin-right: 5rem;
  }
}
