@import "../global/global";

.link {
  display: inline-block;
  background-color: $accent;
  transition: $transition;
  padding: 10px 30px;
  border-radius: 5px;
  text-transform: capitalize;
  box-shadow: $darkShadow;
  color: $white;
  position: relative;
  overflow: hidden;
}

.link:hover {
  background-color: $hover;
}

@media screen and (min-width: $ipadProDesktop) {
  .firstLink {
    margin-right: 5rem;
  }
}
