@import "../global/global";

.aboutContainer {
  background-color: $section2BackgroundColor;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: $bigDesktop) {
  .aboutContainer {
    flex-direction: row;
  }

  .image {
    width: 50vw;
  }

  .text {
    width: 50vw;
  }
}
