@import "../global/global";

.musicContainer {
  background-color: $section2BackgroundColor;
  display: flex;
  flex-direction: column;
}

.image {
  max-height: 50vh;
}

@media screen and (min-width: $bigDesktop) {
  .musicContainer {
    flex-direction: row;
  }

  .image {
    width: 50vw;
    max-height: inherit;
  }

  .text {
    width: 50vw;
  }
}
