/*
=============== 
COLORS
===============
*/

$navbarColor: #fafafa;
$sidebarColor: #e8f1f5;
$backgroundColor: #ebeeee;
$section2BackgroundColor: #d2dce0;
$accent: #00ccff;
$hover: #00a9d3ee;
$buttonFontColor: #333333;
$backgroundHover: #2021240a;
$backgroundFocus: #2021241f;
$backgroundActive: #2021241a;
$hamburgerFocus: #5f63681f;
$footer: #2e2e2e;
$black: #000000;
$white: white;
$red: hsl(360, 67%, 44%);
$grey: #d9d9d9;
$darkGrey: #aca5a5;

/*
=============== 
FORMATTING
===============
*/

$spacing: 0.2rem;
$transition: all 0.2s linear;

$primaryFont: "Montserrat", sans-serif;
$secondaryFont: "Sacramento", cursive;
$boldFont: 700;
$semiBoldFont: 600;
$normalFont: 500;
$lightFont: 400;

$h1FontSize: 1.5rem;
$h2FontSize: 1.2rem;
$h3FontSize: 1rem;
$h4FontSize: 0.825rem;

$lightShadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$darkShadow: 0 5px 12px rgba(0, 0, 0, 0.3);
$blueShadow: 6px 6px 30px -6px rgba(0, 198, 247, 0.933);

/*
=============== 
BREAKPOINTS - Average mobile phone screen width = 375px
===============
*/

$defaultSmallPhone: 22rem; // Width = 352px. Use max-width for formatting small screens (e.g. iPhone 5/SE which is 320px and the smallest reasonable screen size)
$smallTablet: 33.75rem; // Width = 540px. SurfaceDuo
$nexus: 37.5rem; // Width = 600px. nexus 7
$ipad: 48rem; // Width = 768px. iPad
$ipadPro: 64rem; // Width = 1024px. iPadPro
$macBookAir: 90rem; // Width = 1440px. macBook Air 13"
$desktop:  120rem;// Width = 1920px. Standard desktop monitor
$wideScreen: 162.5rem; // Width = 2600px.
